@font-face {
  font-family: SurvivorText;
  src: url(../assets/Fluffy\ Slacks\ BTN\ Regular.ttf);
}

:root {
  --card-color: rgb(205, 225, 243);
}

#Cards {
  margin: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(0, 0, 0, 1) url("./../assets/tayak-beach.jpg");
  background-size: cover;
  background-position: center;
  padding: 1.5rem 1rem 0 1rem;
  width: 250px;
  height: 300px;
  border: none;
  outline: 2px solid rgb(118, 118, 118);
  border-radius: 1rem;
  box-shadow: 0px 0px 8px 2px rgb(118, 118, 118);
  transition: transform 150ms ease-out;
  color: #85581d;
}

.card:hover {
  transform: scale(1.1);
}

.img {
  margin: 0 auto;
  width: 200px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  outline: 2px solid black;
}

img {
  width: 200px;
}

.card > p {
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: SurvivorText;
}
