:root {
  --bg-color: rgba(105, 162, 121, 0.85);
}

@font-face {
  font-family: Survivor;
  src: url(../assets/Samoerai_Typeface.otf);
}

body {
  margin: 0;
}
#App {
  font-family: Survivor;
}

#Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Header h1 {
  background-color: var(--bg-color, rgba(105, 162, 121, 0.85));
  padding: 0.7rem;
  margin: 2rem 1rem;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 4rem);
}

.logo > img {
  width: 200px;
  height: auto;
}

.scores {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.scores > p {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--bg-color, rgba(105, 162, 121, 0.85));
}
